<?xml version="1.0"?>
<robot name="sensor_basler" xmlns:xacro="http://wiki.ros.org/xacro">
  
  <xacro:macro name="sensor_basler" params="prefix parent prefix_topic:='front_rgbd_camera' *origin far:=^|8.0 near:=^|0.05">

    <material name="${prefix}_grey">
      <color rgba="0.6 0.6 0.6 1" />
    </material>

    <joint name="${prefix}_joint" type="fixed">
    	<xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>

    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" />
        <geometry>
          <mesh filename="package://rbkairos_darko_description/meshes/structures/basler.stl"/>
        </geometry>
        <material name="${prefix}_grey" />
      </visual>
    </link>

    <joint name="${prefix}_optical_joint" type="fixed">
      <parent link="${prefix}_link" />
      <child link="${prefix}_optical_frame" />
      <origin xyz="0.07 0 0" rpy="0 0 0" />
    </joint>

    <link name="${prefix}_optical_frame">
    </link>

    <!-- RGBD sensor for simulation, same as Kinect -->
    <sensor_basler_gazebo/>

  </xacro:macro>

  <xacro:macro name="sensor_basler_gazebo">

    <gazebo reference="${prefix}_link">
      <sensor type="camera" name="${prefix}_sensor">
        <update_rate>30.0</update_rate>
        <camera>
          <horizontal_fov>${60.0*M_PI/180.0}</horizontal_fov>
          <image>
            <format>R8G8B8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>${near}</near>
            <far>${far}</far>
          </clip>
        </camera>
        <plugin name="${prefix}_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>${prefix_topic}</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>/${prefix}_optical_link</frameName>
          <hackBaseline>0.0</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>


</robot>